<div class="page-border" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="top-border wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;"></div>
    <div class="right-border wow fadeInRight animated" style="visibility: visible; animation-name: fadeInRight;"></div>
    <div class="bottom-border wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"></div>
    <div class="left-border wow fadeInLeft animated" style="visibility: visible; animation-name: fadeInLeft;"></div>
</div>

<div id="wrapper">

    <header id="banner" class="scrollto clearfix" data-enllax-ratio=".5">
        <div id="header" class="nav-collapse">
            <div class="row clearfix">
                <div class="col-1">

                    <!--Logo-->
                    <div id="logo">

                        <!--Logo that is shown on the banner-->
                        <%=image_tag "logo.png", id: "banner-logo", alt: "Landing Page" %>
                       <!--  <img src="images/logo.png" id="banner-logo" alt="Landing Page"/> -->
                        <!--End of Banner Logo-->

                        <!--The Logo that is shown on the sticky Navigation Bar-->
                        <%=image_tag "logo-2.png", id: "navigation-logo", alt: "Landing Page" %>
                      <!--   <img src="images/logo-2.png" id="navigation-logo" alt="Landing Page"/> -->
                        <!--End of Navigation Logo-->

                    </div>
                    <!--End of Logo-->

                    <aside>

                        <!--Social Icons in Header-->
                        <!-- <ul class="social-icons">
                            <li>
                                <a target="_blank" title="Facebook" href="https://www.facebook.com/username">
                                    <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a target="_blank" title="Twitter" href="http://www.twitter.com/username">
                                    <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                                </a>
                            </li> -->
                            <!-- <li>
                                <a target="_blank" title="Instagram" href="http://www.instagram.com/username">
                                    <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                                </a>
                            </li> -->
                        </ul>
                        <!--End of Social Icons in Header-->

                    </aside>

                    <!--Main Navigation-->
                    <nav id="nav-main">
                        <ul>
                            <li>
                                <a href="#banner">Home</a>
                            </li>
                           <!--  <li>
                                <a href="#about">About</a>
                            </li> -->
                            <!-- <li>
                                <a href="#gallery">Gallery</a>
                            </li> -->
                            <li>
                                <a href="#download">Download</a>
                            </li>
                            <!-- <li>
                                <a href="#testimonials">Testimonials</a>
                            </li> -->
                            <!-- <li>
                                <a href="#clients">Clients</a>
                            </li> -->
                         <!--    <li>
                                <a href="#pricing">Pricing</a>
                            </li>
                        </ul> -->
                    </nav>
                    <!--End of Main Navigation-->

                    <div id="nav-trigÃger"><span></span></div>
                    <nav id="nav-mobile"></nav>

                </div>
            </div>
        </div><!--End of Header-->
