<!DOCTYPE html >
<html style="background-color: #2F2F2F">
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status" class="la-ball-triangle-path">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!--End of Preloader-->
        <!--Banner Content-->
        <div id="banner-content" class="row clearfix">
            <div class="col-38">
                <div class="section-heading">
                    <h1>WITH WALT :
                   MANAGE YOUR <span style="text-decoration: underline">TIME</span>  AS <span style="text-decoration: underline ;">FAST</span> AS POSSIBLE !</h1>
                    <h2>Walt is a Google Chrome Extension that can help you organising your time without leaving your browser.</h2>
                </div>
                <!--Call to Action-->
                <a href="#download" class="button no-underline">INSTALL WALT TODAY</a>
                <!--End Call to Action-->
            </div>
        </div><!--End of Row-->
    </header>
    <!--Main Content Area-->
    <main id="content">
                </div>
            </div>
        </section>
        <!--Content Section-->
        <div id="download" class="scrollto clearfix">
            <div class="row no-padding-bottom clearfix">
                <!--Content Left Side-->
                <div class="col-2">
                    <!--User Testimonial-->
                      <img alt="walt-demo" style="margin-top: 143px" src="/assets/walt-demo-a1a09cdf7a6d6b81b223171597eb5995cc9d8c53efc345ba13344f574d9dbcca.gif">
                      <blockquote class="testimonial text-right bigtest" style="margin-top: 20px;">
                        <q>Walt is and will remain an open-source project!</q>
                        <footer>— Walt's Team</footer>
                    </blockquote>
                    <div class="text-center">
                      <a href="https://github.com/valentinfage/Walt" target="blank" class="button no-underline">Join our repository on GitHub</a>
                    </div>
                    <!-- End of Testimonial-->
                </div>
                <!--End Content Left Side-->
                <!--Content of the Right Side-->
                <div class="col-2">
                    <div class="section-heading">
                        <h3>Focus</h3>
                        <h2 class="section-title">Don't Leave Your Browser, And Don't Be Distracted !</h2>
                        <p class="section-subtitle">    Walt is a powerful smart IA assistant. </p>
                    </div>
                    <p>
                        It will help you with all of your reminders, simply type: <br>
                        - reminder <br>
                        - whatever you want to be reminded of <br>
                        - when you want to be reminded, there's no specific formats. Simply type what's in your head (in 10 minutes / Every monday at 3.00 pm / The 3rd of January and so forth). <br>
                        <br>
                        You will then receive a Chrome notification pop-up at the right time! You can also receive text notifications on your phone in case you're not in front of your screen!
                        Being an open-source project, Walt will get smarter everyday and will be able to deal with emails, translations and so much more features! <br>
                        Stay tuned and enjoy !
                    </p>
                    <div class="text-center">
                      <a href="https://chrome.google.com/webstore/detail/nfgkmaialfapcfbgihhhijjiepkcmioc/publish-accepted?hl=en-US&gl=FR" target="blank" class="button no-underline">
                        INSTALL WALT FOR CHROME
                      </a>
                    </div>
                </div>
            </div>
        </div>
            </div>
        </aside>
    </main>
</div>
</body>
</html>
