<% @emails.each do |email| %>
        <ul>
          <li><%=email.content%></li>
        </ul>
              <%= link_to edit_email_path(email) do %>
              <i class="fa fa-edit">edit</i>
              <% end %>
              <%= link_to email_path(email), method: :delete do %>
              <i class="fa fa-close"></i>
              <% end %>
       <%end%>
